body {
    display: grid;
    font-family: "Segoe UI", sans-serif;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(auto, auto);
    color: #3e3e3e;
    text-shadow: 0.4px 0.4px 0.4px rgba(0,0,0,.2);
}
html, body {
    background-color: #f6f6f6;
    margin: 0;
    padding: 0;
}
#wrapper {
    display: grid;
    grid-column: 3 / 11;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(auto, auto);
    grid-row-gap: 10px;
    margin-top: 3.6rem;
}
h1 {
    font-weight: lighter;
    grid-column: span 3;
    text-align: center;
    color: #ec407a;
}
#clock-box, #info {
    grid-column: span 3;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
#info {
    margin-top: 2.6rem;
}
#clock-box, #info {
    grid-column: span 3;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
#music {
    grid-column: 2;
    position: relative;
    z-index: 1000;
    opacity: .4;
}
#clock-box #clock {
    grid-column: 4 / 10;
    background-color: #F8C8C8;
    padding: .6rem 2rem;
    padding-top: .8rem;
    text-align: center;
    font-size: 1rem;
    border-radius: 10rem;
}
@media (max-width: 992px){
    #info .one, #info .two {
        grid-column: span 12 !important;
    }
    #heart {
        grid-column: span 12 !important;
        /* padding-bottom: 1rem !important; */
        /* min-height: 100px; */
    }
    #info .one, #info .two {
        grid-column: span 12 !important;
    }
}
#info {
    margin-top: 2.6rem;
}
#info .one {
    grid-column: 3 / 6;
    text-align: center;
}
#clock-box, #info {
    grid-column: span 3;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
.avt {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    box-shadow: 2px 2px 8px rgba(0,0,0,.2);
}
#info p {
    font-family: 'Pacifico', cursive;
    font-size: 22px;
}
#heart {
    /* grid-column: span 2;
    display: grid;
    grid-template-rows: 2; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 44px;
    color: #ef1909;
    align-self: center;
    padding-bottom: 2.6rem;
    text-align: center;
    animation: heart 2s linear infinite;
}
anni {
    font-size: 16px;
    letter-spacing: 0.2px;
}
#info .two {
    grid-column: 8 / 11;
    text-align: center;
}
#music {
    grid-column: 2;
    position: relative;
    z-index: 1000;
    opacity: .4;
}
footer, header {
    grid-column: span 3;
    text-align: center;
    font-size: 1.6rem;
    font-weight: lighter;
    margin-top: 1.2rem;
    font-family: 'Pacifico', cursive;
    font-size: 22px;
}
#mask {
    background-image: linear-gradient(to top, #6d44cc5d 0%, #f09cd880 100%);
    opacity: .42;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

.title-center {
 height: 50px;  
 overflow: hidden;
 position: relative;
}
.title-center span {
 font-size: 3em;
 color: #E91E63;
 position: absolute;
 width: 100%;
 height: 100%;
 margin: 0;
 line-height: 50px;
 text-align: center;
 /* Starting position */
 -moz-transform:translateX(100%);
 -webkit-transform:translateX(100%);    
 transform:translateX(100%);
 /* Apply animation to this element */  
 -moz-animation: title-center 15s linear infinite;
 -webkit-animation: title-center 15s linear infinite;
 animation: title-center 8s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes title-center {
 0%   { -moz-transform: translateX(100%); }
 100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes title-center {
 0%   { -webkit-transform: translateX(100%); }
 100% { -webkit-transform: translateX(-100%); }
}
@keyframes title-center {
 0%   { 
 -moz-transform: translateX(100%); /* Firefox bug fix */
 -webkit-transform: translateX(100%); /* Firefox bug fix */
 transform: translateX(100%);       
 }
 100% { 
 -moz-transform: translateX(-100%); /* Firefox bug fix */
 -webkit-transform: translateX(-100%); /* Firefox bug fix */
 transform: translateX(-100%); 
 }
}


@keyframes heart {
    0% {
        transform: scale(.8);
    }
    50% {
        transform: scale(1.0);
    }
    75% {
        transform: scale(1.2);
    }
}

@media (max-width: 992px){
      #wrapper {
        grid-column: span 12;
    }  
    #clock-box #clock {
        grid-column: 2 / 12;
    }
}
date {
    font-size: 18px;
}

date, time {
    display: block;
}
